$pull-L
	float left

$pull-R
	float right

$services-icon
	display block
	height 70px
	width 70px

$_animation-start-point_left
	transform translate(-1500px, 0px)
	opacity 0

$_animation-start-point_right
	transform translate(1500px, 0px)
	opacity 0

$_animation-start-point_bottom
	transform translate(0px, -1500px)
	opacity 0

$_animation-start-point_top
	transform translate(0px, 1500px)
	opacity 0

$_animation_trs
	transition all 1s linear

$_animation-end-point
	transform none
	opacity 1
