.h-about(ng-controller="aboutController as about")
	.h-about__header
		h2.b-title {{about.title}}
	.h-about__content
		.h-col._1in3
			h3.b-title._about-content {{about.storyTitle}}
			p.b-text {{about.text}}
		.h-col._1in3
			h3.b-title._about-content {{about.infoTitle}}
			ul.b-info(ng-repeat="item in about.info")
				li.b-info__item <b>{{item.question}}</b> {{item.answer}}
		.h-col._1in3
			h3.b-title._about-content {{about.skillsTitle}}
			.b-skills(ng-repeat="item in about.skills")
				.b-skills__title {{item.skill}}
				.b-indicator
					span.b-indicator__arrow(ng-style="{width:'{{item.study}}%'}") {{item.study}}
