/* Do not remove this comments bellow. It's the markers used by wiredep to inject
	 stylus dependencies when defined in the bower.json of your dependencies */
// bower:styl
// endbower


@import url('http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300')
@import url('http://fonts.googleapis.com/css?family=Gentium+Basic:400,700,400italic,700italic')


@import '../../bower_components/jeet/stylus/jeet/index.styl'
@import '../../bower_components/rupture-by-jenius/rupture/index.styl'
@import '../../bower_components/nib/lib/nib/index.styl'
@import '../../bower_components/normalize-stylus/normalize.styl'

@import 'components/helpers_styl/mixin.styl'

@import 'view/main/main.styl'


body
	background #f2f2f2
	font-family 'Open Sans', sans-serif
	color #222
	margin 0
	padding 0
	overflow-x hidden
	height 100%
