.h-page-home
	margin 25px 0px 25px 0px
	center(1300px)
	background-color #fff
	cf()

.l-home
	overflow hidden

	&-header
		position fixed
		center(1300px)
		width 100%
		z-index 999
		cf()
		&__logo
			display inline-block
			@extends $pull-L
			@import "../../components/bLogo/bLogo.styl"
		&__nav
			display inline-block
			@extends $pull-R
			@import "../../components/bNav/bNav.styl"

	&-desc
		center(1300px, 25px)
		margin-top 200px
		margin-bottom 200px
		position relative
		@import "../../components/bDesc/bDesc.styl"
		&._an-start-point_left
			@extends $_animation-start-point_left
			@extends $_animation_trs
		&._an_js_endPoint
			@extends $_animation-end-point

	&-portfolio
		center(1300px, 25px)
		position relative
		@import "../../components/bPortfolio/bPortfolio.styl"
		&._an-start-point_left
			@extends $_animation-start-point_right
			@extends $_animation_trs
		&._an_js_endPoint
			@extends $_animation-end-point

	&-about
		center(1300px, 25px)
		@import "../../components/bAbout/bAbout.styl"
		&._an-start-point_left
			@extends $_animation-start-point_bottom
			@extends $_animation_trs
		&._an_js_endPoint
			@extends $_animation-end-point

	&-services
		center(1300px)
		@import "../../components/bServices/bServices.styl"
		&._an-start-point_left
			@extends $_animation-start-point_bottom
			@extends $_animation_trs
		&._an_js_endPoint
			@extends $_animation-end-point

	&-blog
		center(1300px, 25px)
		@import "../../components/bBlog/bBlog.styl"
		&._an-start-point_left
			@extends $_animation-start-point_top
			@extends $_animation_trs
		&._an_js_endPoint
			@extends $_animation-end-point

	&-contact
		center(1300px)
		@import "../../components/bContact/bContact.styl"
		&._an-start-point_left
			@extends $_animation-start-point_left
			@extends $_animation_trs
		&._an_js_endPoint
			@extends $_animation-end-point

	&-footer
		center(1300px, 25px)
		@import "../../components/bFooter/bFooter.styl"
