.h-contact
	padding 10px 30px
	background-color #ffdb43
	cf()
// &__header
// &__content

.b-title
	display inline-block
	text-transform uppercase
	font-weight 800
	background #000
	color #fff
	padding 5px 6px
	letter-spacing 5px
	font-size 15px
	font-family 'Open Sans', sans-serif

.h-form
	span(1/1)
	&__item
		padding 10px 10px 10px 0px
		box-sizing border-box
		&._size-1in1
			span(1/1)
		&._size-1in3
			span(1/3)

.b-form
	padding 0px
	margin 0px
	border 0px
	&__item
		padding 10px
		box-sizing border-box
		margin 0px
		border 0px
		width 100%
		color #fff
		vertical-align top
		background-color #F7D443
		font-size 12px
		font-weight 400
		letter-spacing 2px
		&::-webkit-input-placeholder
			color #fff
		&::-moz-placeholder
			color #fff
		&:-moz-placeholder
			color #fff
		&:-ms-input-placeholder
			color #fff
		&._button
			display inline-block
			width 20%
			min-width 200px
			cursor pointer
			color #fff
			padding 16px
			background #000
			margin 20px 0
			text-decoration none
			text-transform uppercase
			font-size 14px
			font-weight 800
			letter-spacing 4px
			border 0
